<li>
	{{name}}

	<button class="change-consume" data-id="{{id}}" data-newconsume="{{consume}}">
		{{#if consume}}CONSUME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
